.navbar{
    background-color: rgba(68, 163, 61, 0.9);
}
#imageLogo{
  font-size: 100px;
}
.parallax1{
    background-image: url("../assets/img/parallax1.jpg");
    min-height: 850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2{
    background-image: url("../assets/img/parallax2.jpg");
    min-height: 850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bi{
    font-size: 30px;
}
.container{
    flex-basis: 25%;
}
.vr,hr{
    color: white;
}
.card{
    background-color: rgba(14, 241, 109, 0.4);
}
/* Footer */

footer {
    background-color: rgba(68, 163, 61, 0.9);
    padding: 50px 0;
  }
  
  .conteneur {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: black;
    margin-bottom: 35px;
    font-weight: 300;
    position: relative;
  }
  
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    width: 50px;
    height: 2px;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    color: black;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #e91e63;
    margin-left: 20px;
    transition: 0.4s;
    text-decoration: underline;
    transform: scale(1.2);
  }
  
  .footer-col .social-links a {
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #151515;
    background-color: #fff;
  }
  p{
    background-color: rgba(14, 241, 109, 0.6);
    border-radius: 5px;
    padding-left: 2px;
    border: solid 2px black;
  }